:root {
  /* Tier 1 */
  --white: hsl(0, 100%, 100%);
  --orange-100: hsl(30, 100%, 98%);
  --orange-200: hsl(28, 65%, 92%);
  --red-300: hsl(10, 100%, 76%);
  --red-500: hsl(10, 79%, 65%);
  --blue-200: hsl(186, 49%, 80%);
  --blue-300: hsl(186, 34%, 65%);
  --brown-400: hsl(27, 10%, 52%);
  --brown-950: hsl(25, 47%, 15%);

  --font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(28, 65%, 92%);
  color: hsl(27, 10%, 52%);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(15px, 0.5114rem + 1.8182vw, 18px);
  line-height: 1.5;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 16px;
}
